{% extends "layout.html" %}

{% block title %}
Diary
{% endblock %}

{% block main %}
<h1>My Diary</h1>
<div class="table-responsive">
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Local</th>
            <th>How many people did you have direct contact?</th>
            <th>How were you feeling?</th>
        </tr>
    </thead>
    <tbody>
        {% for diary in diary_history %}
        <tr>
            <td>{{ diary.date }}</td>
            <td>{{ diary.event }}</td>
            <td>{{ diary.local }}</td>
            <td>{{ diary.people }}</td>
            <td>{{ diary.feel }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>
{% endblock %}